<h1>Editing Admin</h1>

<%= render 'form' %>
</br>
<%= link_to 'Show Admin', @admin, class: "btn brn-lg btn-primary"%> &nbsp  &nbsp 
<%= link_to 'Back to Member List', admins_path, class: "btn brn-lg btn-primary"%>


