<h1>E-mailing and Editing Member</h1>

<%= render 'form' %>

<div>

<%= link_to 'Show Member', @user, class: "btn brn-lg btn-primary" %> &nbsp
<%= link_to 'Back to Members List', users_path, class: "btn brn-lg btn-primary" %>
</div>
